<div id="module-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Edit Product" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <iframe id="module-edit-iframe" frameborder="0" allowtransparency="true" seamless></iframe>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
